@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row flex-wrap">
    @{
        foreach (TList item in ViewBag.Lists)
        {
            <div class="card bg-secondary m-3 mb-5" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>

                    <div class="d-flex flex-column">
                        <a asp-action="Details" asp-controller="List" asp-route-listId="@item.Id" class="card-link btn btn-primary m-2">Show List</a>
                        <a asp-action="Create" asp-controller="Tasks" asp-route-listId="@item.Id" class="btn btn-primary m-2">Add Task</a>
                        <form asp-action="Delete" asp-controller="List" asp-route-listId="@item.Id" class="w-100 m-2">
                            <input type="submit" value="Delete" class="btn btn-danger" style="width: 95%;"/>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>